In [1]:
# Dependencies
# Dependencies
import pandas as pd
import numpy as np
import requests
import json

# Google API Key
from config import gkey

In [2]:
types_df = pd.read_csv("../Resources/ethnic_restr.csv")
types_df.head()

  ethnicity
0   chinese
1     cuban
2     czech
3    french
4    german

In [4]:
types_df["ethnicity"].values

array(['chinese', 'cuban', 'czech', 'french', 'german', 'greek',
       'haitian', 'hungarian', 'indian', 'indonesian', 'irish', 'israeli',
       'italian', 'japanese', 'jewish', 'korean', 'lebanese', 'mexican',
       'new american', 'pakistani', 'polish', 'russian', 'scandinavian',
       'scottish', 'soul food', 'spanish', 'thai', 'turkish', 'ukrainian',
       'vietnamese'], dtype=object)

In [5]:
# set up additional columns to hold information
types_df['name'] = ""
types_df['address'] = ""
types_df['price_level'] = ""
types_df['rating'] = ""

types_df.head()

  ethnicity name address price_level rating
0   chinese
1     cuban
2     czech
3    french
4    german

In [6]:
# find the closest restaurant of each type to coordinates

base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
params = {
    "location": "39.952583,-75.16522",  # philadelphia coords
    "rankby": "distance",
    "type": "restaurant",
    "key": gkey,
}
# use iterrows to iterate through pandas dataframe
for index, row in types_df.iterrows():

    # get restaurant type from df
    restr_type = row['ethnicity']

    # add keyword to params dict
    params['keyword'] = restr_type

    # assemble url and make API request
    print(f"Retrieving Results for Index {index}: {restr_type}.")
    response = requests.get(base_url, params=params).json()
    
    # extract results
    results = response['results']
    
    try:
        print(f"Closest {restr_type} restaurant is {results[0]['name']}.")
        
        types_df.loc[index, 'name'] = results[0]['name']
        types_df.loc[index, 'address'] = results[0]['vicinity']
        types_df.loc[index, 'price_level'] = results[0]['price_level']
        types_df.loc[index, 'rating'] = results[0]['rating']
        
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")
        
    print("------------")

Retrieving Results for Index 0: chinese.
Closest chinese restaurant is Chinese Fast Wok.
------------
Retrieving Results for Index 1: cuban.
Closest cuban restaurant is Mixto Restaurante.
------------
Retrieving Results for Index 2: czech.
Missing field/result... skipping.
------------
Retrieving Results for Index 3: french.
Closest french restaurant is Del Frisco's Double Eagle Steakhouse.
------------
Retrieving Results for Index 4: german.
Closest german restaurant is Tir na nOg Irish Bar & Grill.
------------
Retrieving Results for Index 5: greek.
Closest greek restaurant is Zaffron Mediterranean Grill.
------------
Retrieving Results for Index 6: haitian.
Closest haitian restaurant is Flambo Caribbean Restaurant.
------------
Retrieving Results for Index 7: hungarian.
Closest hungarian restaurant is Brauhaus Schmitz.
------------
Retrieving Results for Index 8: indian.
Closest indian restaurant is Amma's South Indian Cuisine.
------------
Retrieving Results for Index 9: indonesian.
Closest indonesian restaurant is Banana Leaf: Malaysian Cuisine.
------------
Retrieving Results for Index 10: irish.
Closest irish restaurant is Tir na nOg Irish Bar & Grill.
------------
Retrieving Results for Index 11: israeli.
Closest israeli restaurant is Dizengoff.
------------
Retrieving Results for Index 12: italian.
Closest italian restaurant is Gran Caffe L'Aquila.
------------
Retrieving Results for Index 13: japanese.
Closest japanese restaurant is Ninja Bao.
------------
Retrieving Results for Index 14: jewish.
Closest jewish restaurant is Goldie.
------------
Retrieving Results for Index 15: korean.
Closest korean restaurant is Rice & Mix.
------------
Retrieving Results for Index 16: lebanese.
Closest lebanese restaurant is NAYA Philly.
Missing field/result... skipping.
------------
Retrieving Results for Index 17: mexican.
Closest mexican restaurant is Chipotle Mexican Grill.
------------
Retrieving Results for Index 18: new american.
Closest new american restaurant is Dig.
Missing field/result... skipping.
------------
Retrieving Results for Index 19: pakistani.
Closest pakistani restaurant is Nanee's Kitchen.
Missing field/result... skipping.
------------
Retrieving Results for Index 20: polish.
Closest polish restaurant is Famous Franks A-lot.
Missing field/result... skipping.
------------
Retrieving Results for Index 21: russian.
Closest russian restaurant is Foods On First Diner.
------------
Retrieving Results for Index 22: scandinavian.
Closest scandinavian restaurant is Di Bruno Bros..
------------
Retrieving Results for Index 23: scottish.
Closest scottish restaurant is Gran Caffe L'Aquila.
------------
Retrieving Results for Index 24: soul food.
Closest soul food restaurant is Nothing But Love Soulfood Catering #2.
Missing field/result... skipping.
------------
Retrieving Results for Index 25: spanish.
Closest spanish restaurant is Mission Taqueria.
------------
Retrieving Results for Index 26: thai.
Closest thai restaurant is Chatayee Thai.
Missing field/result... skipping.
------------
Retrieving Results for Index 27: turkish.
Closest turkish restaurant is Sahara Grill.
------------
Retrieving Results for Index 28: ukrainian.
Closest ukrainian restaurant is Mom-Mom's Kitchen.
Missing field/result... skipping.
------------
Retrieving Results for Index 29: vietnamese.
Closest vietnamese restaurant is Pho Street.
------------

In [8]:
types_df.dropna()

,ethnicity,name,address,price_level,rating
0,chinese,Chinese Fast Wok,"1500 John F Kennedy Blvd, Philadelphia",2,2.3
1,cuban,Mixto Restaurante,"1141 Pine St, Philadelphia",2,4.4
2,czech,,,,
3,french,Del Frisco's Double Eagle Steakhouse,"1428-1432 Chestnut St, Philadelphia",4,4.5
4,german,Tir na nOg Irish Bar & Grill,"1600 Arch St, Philadelphia",2,4.2
5,greek,Zaffron Mediterranean Grill,"Philadelphia, Chestnut St",2,4.2
6,haitian,Flambo Caribbean Restaurant,"820 N Broad St, Philadelphia",2,4.3
7,hungarian,Brauhaus Schmitz,"718 South St, Philadelphia",2,4.5
8,indian,Amma's South Indian Cuisine,"1518 Chestnut St, Philadelphia",2,4.4
9,indonesian,Banana Leaf: Malaysian Cuisine,"1009 Arch St, Philadelphia",1,4.2
10,irish,Tir na nOg Irish Bar & Grill,"1600 Arch St, Philadelphia",2,4.2
11,israeli,Dizengoff,"1625 Sansom St, Philadelphia",1,4.7
12,italian,Gran Caffe L'Aquila,"1716 Chestnut St, Philadelphia",2,4.7
13,japanese,Ninja Bao,"1500 JFK Blvd Two Penn Center, underground whi...",2,4.8
14,jewish,Goldie,"1526 Sansom St, Philadelphia",1,4.7
15,korean,Rice & Mix,"128 S 12th St, Philadelphia",2,4.4
16,lebanese,NAYA Philly,"1601 Market St, Philadelphia",,
17,mexican,Chipotle Mexican Grill,"1625 Chestnut St Ste F6, Philadelphia",1,3.8
18,new american,Dig,"1616 Chestnut St, Philadelphia",,
19,pakistani,Nanee's Kitchen,"51 N 12th St #2954, Philadelphia",,
20,polish,Famous Franks A-lot,"51 N 12th St, Philadelphia",,
21,russian,Foods On First Diner,"1429 Arch St, Philadelphia",1,4.1
22,scandinavian,Di Bruno Bros.,"1730 Chestnut St, Philadelphia",2,4.5
23,scottish,Gran Caffe L'Aquila,"1716 Chestnut St, Philadelphia",2,4.7
24,soul food,Nothing But Love Soulfood Catering #2,"1635 Market St suite 1600, Philadelphia",,
25,spanish,Mission Taqueria,"above Oyster House, 1516 Sansom St 2nd Floor, ...",2,4.5
26,thai,Chatayee Thai,"1227 Walnut St, Philadelphia",,
27,turkish,Sahara Grill,"1334 Walnut St, Philadelphia",1,4.4
28,ukrainian,Mom-Mom's Kitchen,"1505 South St, Philadelphia",,
29,vietnamese,Pho Street,"1230 Arch St, Philadelphia",1,4.5