In [3]:
l = list(range(1, 101))

In [8]:
[
    e ** 2
    for e in l
    if e % 2 == 0
]

[4,
 16,
 36,
 64,
 100,
 144,
 196,
 256,
 324,
 400,
 484,
 576,
 676,
 784,
 900,
 1024,
 1156,
 1296,
 1444,
 1600,
 1764,
 1936,
 2116,
 2304,
 2500,
 2704,
 2916,
 3136,
 3364,
 3600,
 3844,
 4096,
 4356,
 4624,
 4900,
 5184,
 5476,
 5776,
 6084,
 6400,
 6724,
 7056,
 7396,
 7744,
 8100,
 8464,
 8836,
 9216,
 9604,
 10000]

In [ ]:
# [
#     (1, "odd"),
#     (2, "even"),
#     (3, "odd"),
#     ...
# ]

In [13]:
# exclude all number divisible by 3
[(e, "even" if e % 2 == 0 else "odd") for e in l if not e % 3 == 0]

[(1, 'odd'),
 (2, 'even'),
 (4, 'even'),
 (5, 'odd'),
 (7, 'odd'),
 (8, 'even'),
 (10, 'even'),
 (11, 'odd'),
 (13, 'odd'),
 (14, 'even'),
 (16, 'even'),
 (17, 'odd'),
 (19, 'odd'),
 (20, 'even'),
 (22, 'even'),
 (23, 'odd'),
 (25, 'odd'),
 (26, 'even'),
 (28, 'even'),
 (29, 'odd'),
 (31, 'odd'),
 (32, 'even'),
 (34, 'even'),
 (35, 'odd'),
 (37, 'odd'),
 (38, 'even'),
 (40, 'even'),
 (41, 'odd'),
 (43, 'odd'),
 (44, 'even'),
 (46, 'even'),
 (47, 'odd'),
 (49, 'odd'),
 (50, 'even'),
 (52, 'even'),
 (53, 'odd'),
 (55, 'odd'),
 (56, 'even'),
 (58, 'even'),
 (59, 'odd'),
 (61, 'odd'),
 (62, 'even'),
 (64, 'even'),
 (65, 'odd'),
 (67, 'odd'),
 (68, 'even'),
 (70, 'even'),
 (71, 'odd'),
 (73, 'odd'),
 (74, 'even'),
 (76, 'even'),
 (77, 'odd'),
 (79, 'odd'),
 (80, 'even'),
 (82, 'even'),
 (83, 'odd'),
 (85, 'odd'),
 (86, 'even'),
 (88, 'even'),
 (89, 'odd'),
 (91, 'odd'),
 (92, 'even'),
 (94, 'even'),
 (95, 'odd'),
 (97, 'odd'),
 (98, 'even'),
 (100, 'even')]

In [ ]:
[(e, "even" if e % 2 == 0 else "odd") for e in l]

In [15]:
candies = [{'name':'snickers','has_chocolate':True, 'has_nuts':True, 'is_fruity':False, 'rating':9.5, 'cost':1.50},
           {'name':'skittles','has_chocolate':False, 'has_nuts':False, 'is_fruity':True, 'rating':9.2, 'cost':0.99},
           {'name':'caramello','has_chocolate':True, 'has_nuts':False, 'is_fruity':False, 'rating':8.3, 'cost':0.99},
           {'name':'circus peanuts','has_chocolate':False, 'has_nuts':False, 'is_fruity':False, 'rating':2.2, 'cost':0.49},
           {'name':'whatchamacallit','has_chocolate':True, 'has_nuts':True, 'is_fruity':False, 'rating':7.8, 'cost':1.49},
           {'name':'starburst','has_chocolate':False, 'has_nuts':False, 'is_fruity':True, 'rating':8.5, 'cost':1.00},
           {'name':'mars bar','has_chocolate':True, 'has_nuts':False, 'is_fruity':False, 'rating':7.2, 'cost':1.30},
          ]

In [20]:
[d for d in candies if d["has_nuts"]]

[{'name': 'snickers',
  'has_chocolate': True,
  'has_nuts': True,
  'is_fruity': False,
  'rating': 9.5,
  'cost': 1.5},
 {'name': 'whatchamacallit',
  'has_chocolate': True,
  'has_nuts': True,
  'is_fruity': False,
  'rating': 7.8,
  'cost': 1.49}]

In [22]:
[d for d in candies if not d["has_nuts"]]

[{'name': 'skittles',
  'has_chocolate': False,
  'has_nuts': False,
  'is_fruity': True,
  'rating': 9.2,
  'cost': 0.99},
 {'name': 'caramello',
  'has_chocolate': True,
  'has_nuts': False,
  'is_fruity': False,
  'rating': 8.3,
  'cost': 0.99},
 {'name': 'circus peanuts',
  'has_chocolate': False,
  'has_nuts': False,
  'is_fruity': False,
  'rating': 2.2,
  'cost': 0.49},
 {'name': 'starburst',
  'has_chocolate': False,
  'has_nuts': False,
  'is_fruity': True,
  'rating': 8.5,
  'cost': 1.0},
 {'name': 'mars bar',
  'has_chocolate': True,
  'has_nuts': False,
  'is_fruity': False,
  'rating': 7.2,
  'cost': 1.3}]

Suppose we wanted to find a candy that
1. has chocolate,
2. does not have nuts, and
3. the rating-to-cost ratio is greater than 7

In [27]:
[d for d in candies if d["has_chocolate"] and not d["has_nuts"] and d["rating"] /  d["cost"] > 7]

[{'name': 'caramello',
  'has_chocolate': True,
  'has_nuts': False,
  'is_fruity': False,
  'rating': 8.3,
  'cost': 0.99}]

In [35]:
def filter_condition(row):
    cost_to_rating_ratio = row["rating"] / row["cost"]
    return row["has_chocolate"] and not row["has_nuts"] and cost_to_rating_ratio > 7

In [36]:
[d for d in candies if filter_condition(d)]

[{'name': 'caramello',
  'has_chocolate': True,
  'has_nuts': False,
  'is_fruity': False,
  'rating': 8.3,
  'cost': 0.99}]