In [1]:
import numpy as np
import pandas as pd

In [2]:
index = pd.date_range('1/1/20', periods=20, freq='D')
series = pd.Series(range(20), index=index)
series

2020-01-01     0
2020-01-02     1
2020-01-03     2
2020-01-04     3
2020-01-05     4
2020-01-06     5
2020-01-07     6
2020-01-08     7
2020-01-09     8
2020-01-10     9
2020-01-11    10
2020-01-12    11
2020-01-13    12
2020-01-14    13
2020-01-15    14
2020-01-16    15
2020-01-17    16
2020-01-18    17
2020-01-19    18
2020-01-20    19
Freq: D, dtype: int64

In [3]:
df = series.to_frame().reset_index()

In [15]:
df.groupby(pd.Grouper(key="index", freq="W")).count()

            0
index
2020-01-05  5
2020-01-12  7
2020-01-19  7
2020-01-26  1

In [5]:
series.resample("W").count()

2020-01-05    5
2020-01-12    7
2020-01-19    7
2020-01-26    1
Freq: W-SUN, dtype: int64

In [6]:
# Get the sum of the values for each day
series.resample('D').sum()

2020-01-01     0
2020-01-02     1
2020-01-03     2
2020-01-04     3
2020-01-05     4
2020-01-06     5
2020-01-07     6
2020-01-08     7
2020-01-09     8
2020-01-10     9
2020-01-11    10
2020-01-12    11
2020-01-13    12
2020-01-14    13
2020-01-15    14
2020-01-16    15
2020-01-17    16
2020-01-18    17
2020-01-19    18
2020-01-20    19
Freq: D, dtype: int64

In [7]:
#  Get the sum of the values for each week.
series.resample('W').sum()

2020-01-05     10
2020-01-12     56
2020-01-19    105
2020-01-26     19
Freq: W-SUN, dtype: int64

In [8]:
# Get the number of values for each week.
series.resample('W').count()

2020-01-05    5
2020-01-12    7
2020-01-19    7
2020-01-26    1
Freq: W-SUN, dtype: int64

In [9]:
# Get the mean of the values for each week.
series.resample('W').mean()

2020-01-05     2
2020-01-12     8
2020-01-19    15
2020-01-26    19
Freq: W-SUN, dtype: int64

In [10]:
# Get the mean of the values for the month.
series.resample('M').mean()

2020-01-31    9.5
Freq: M, dtype: float64