In [1]:
# Import SQLAlchemy `automap` and other dependencies
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, inspect, MetaData, Table

### Using SQLAlchemy ORM to reflect and map the tableÂ¶

In [2]:
# Create the connection engine
engine = create_engine("sqlite:///database.sqlite")
# Declare a Base using `automap_base()`
Base = automap_base()
# Use the Base class to reflect the database tables
Base.prepare(engine, reflect=True)

In [3]:
# Print all of the classes mapped to the Base
Base.classes.keys()

['Salaries']

### Use the inspect() function to reflect the table and get the column names.

In [4]:
# Create the inspector and connect it to the engine
inspector = inspect(engine)

In [5]:
# Using the inspector to print the column names within the table and its types
columns = inspector.get_columns('Salaries')
for column in columns:
    print(column["name"], column["type"])

Id INTEGER
EmployeeName TEXT
JobTitle TEXT
BasePay NUMERIC
OvertimePay NUMERIC
OtherPay NUMERIC
Benefits NUMERIC
TotalPay NUMERIC
TotalPayBenefits NUMERIC
Year INTEGER
Notes TEXT
Agency TEXT
Status TEXT

### Use the Metadata and Table object to describe the table and columns.

In [6]:
#  Create a meta data object to hold the reflected table schema
metadata = MetaData()

In [7]:
# Create a table object and use 'autoload' and 'autoload_with' to define the columns from the table. 
table = Table('salaries', metadata, autoload=True, autoload_with=engine)

In [8]:
# Get the column names using the 'keys()' method on the column object. 
table.columns.keys()

['Id',
 'EmployeeName',
 'JobTitle',
 'BasePay',
 'OvertimePay',
 'OtherPay',
 'Benefits',
 'TotalPay',
 'TotalPayBenefits',
 'Year',
 'Notes',
 'Agency',
 'Status']

### Use SQL to query the table.

In [9]:
# Get 'all' the records in the the table
data = engine.execute("SELECT * FROM Salaries limit 10")

for record in data:
    print(record)

(1, 'NATHANIEL FORD', 'GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY', 167411.18, 0, 400184.25, '', 567595.43, 567595.43, 2011, '', 'San Francisco', '')
(2, 'GARY JIMENEZ', 'CAPTAIN III (POLICE DEPARTMENT)', 155966.02, 245131.88, 137811.38, '', 538909.28, 538909.28, 2011, '', 'San Francisco', '')
(3, 'ALBERT PARDINI', 'CAPTAIN III (POLICE DEPARTMENT)', 212739.13, 106088.18, 16452.6, '', 335279.91, 335279.91, 2011, '', 'San Francisco', '')
(4, 'CHRISTOPHER CHONG', 'WIRE ROPE CABLE MAINTENANCE MECHANIC', 77916, 56120.71, 198306.9, '', 332343.61, 332343.61, 2011, '', 'San Francisco', '')
(5, 'PATRICK GARDNER', 'DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)', 134401.6, 9737, 182234.59, '', 326373.19, 326373.19, 2011, '', 'San Francisco', '')
(6, 'DAVID SULLIVAN', 'ASSISTANT DEPUTY CHIEF II', 118602, 8601, 189082.74, '', 316285.74, 316285.74, 2011, '', 'San Francisco', '')
(7, 'ALSON LEE', 'BATTALION CHIEF, (FIRE DEPARTMENT)', 92492.01, 89062.9, 134426.14, '', 315981.05, 315981.05, 2011, '', 'San Francisco', '')
(8, 'DAVID KUSHNER', 'DEPUTY DIRECTOR OF INVESTMENTS', 256576.96, 0, 51322.5, '', 307899.46, 307899.46, 2011, '', 'San Francisco', '')
(9, 'MICHAEL MORRIS', 'BATTALION CHIEF, (FIRE DEPARTMENT)', 176932.64, 86362.68, 40132.23, '', 303427.55, 303427.55, 2011, '', 'San Francisco', '')
(10, 'JOANNE HAYES-WHITE', 'CHIEF OF DEPARTMENT, (FIRE DEPARTMENT)', 285262, 0, 17115.73, '', 302377.73, 302377.73, 2011, '', 'San Francisco', '')

In [10]:
# Get all the job titles where the Total Pay is greater than or equal to $250,000.
job_titles = engine.execute("SELECT DISTINCT JobTitle FROM Salaries WHERE JobTitle like '%POLICE%' TotalPay >= 250000")

for job_title in job_titles:
    print(job_title)

OperationalError: (sqlite3.OperationalError) near "TotalPay": syntax error
[SQL: SELECT DISTINCT JobTitle FROM Salaries WHERE JobTitle like '%POLICE%' TotalPay >= 250000]
(Background on this error at: http://sqlalche.me/e/14/e3q8)

### Use Python to query the table.

In [ ]:
# Assign the class to a variable
Salaries = Base.classes.Salaries
Salaries

In [ ]:
# Create a session
session = Session(engine)

In [ ]:
# Get all the job titles where the Total Pay is greater than or equal to $250,000.
jobs = session.query(Salaries.JobTitle).filter(Salaries.TotalPay >= 250000)
for job in jobs:
    print(job)

In [ ]:
# Get all the job titles in the Police department where the Total Pay is greater than or equal to $250,000.
jobs = session.query(Salaries.JobTitle).filter(Salaries.JobTitle.like('%POLICE%')).filter(Salaries.TotalPay >= 250000)
for job in jobs:
    print(job)